.success {
  color: #3c5c3d;
  background: #91cf93;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #6f8e71;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 20%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.error {
  color: rgb(135, 32, 32);
  background: #d65946;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #d32f2f;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 20%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  padding: 10px;
  min-height: 100vh;
  background-color: #f4f4f4;
}

h1,
h2,
h3 {
  color: #333333;
  padding: 10px;
}
